<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">the fortnight</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="card" *ngFor="let article of articles">
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="end">
          <img [src]="article.urlToImage" alt="Article Image" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ article.title }}</h2>
          <p>{{ article.description }}</p>
          <p>Author: {{ article.author }}</p>
          <p>Content: {{ article.content }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
